.reviewSection {
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1em;
    background: #fbfbfb;

    @media screen and (min-width: 37.5em) {
        padding: 1.75em;
    }

    >header {
        margin-bottom: 1.25rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        position: relative;
        height: 100%;
        min-height: 37.5rem;
        text-align: center;
    }
}

:global(.cards) {
    flex-flow: row wrap;
    align-items: flex-start;
}

:global(.rows) {
    flex-flow: column wrap;
    justify-content: flex-start;
}