.reviewSection {
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1em;
    background: var(--light);

    @media screen and (min-width: 37.5em) {
        padding: 1.25em;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        align-items: flex-start;
        row-gap: 1.25rem;
        height: 100%;
        padding-top: 1.25rem;
        position: relative;
        text-align: center;

        @media screen and (min-width: 37.5em) {
            column-gap: 1.25rem;
            row-gap: 1.25rem;
        }

    }
}

:global(.cards) {
    &.reviewSection__content {

        @media screen and (min-width: 37.5em) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 62.5em) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

:global(.rows) {
    &.reviewSection__content {
        grid-template-columns: 1fr;
    }
}

:global(.empty) {
    &.reviewSection__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}