.formInput {
    display: block;
    position: relative;
    text-align: left;
    margin-bottom: 1.25rem;

    &__label {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    &__input {
        width: 100%;
        padding: 0.5em;
        font-size: 1rem;
    }
}

.error {
    composes: error from '../../common.module.scss';
}