.reviewSectionFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
    border-radius: 4px;
    background: #3590F3;

    input {
        flex: 0 1 100%;
        padding: .5em;
        margin-bottom: 0.75rem;
        font-size: inherit;
        border: 1px solid #e8e8e8;
        border-radius: 4px;


        @media screen and (min-width: 37.5em) {
            flex: 0 1 auto;
            min-width: 300px;
            margin-bottom: 0;
        }
    }

    &__buttonContainer {
        flex: 0 1 100%;
        text-align: center;

        @media screen and (min-width: 37.5em) {
            flex: 0 1 auto;
        }

        button {
            padding: 0.6em;
            color: #fbfbfb;
            cursor: pointer;
            background: none;
            border: 0;
            transition: all .3s;
            border-radius: 4px;

            &.active,
            &:hover,
            &:active {
                color: #2b2b2b;
                background: #d5d5d55c;
            }

            &:not(:last-child) {
                margin-right: 1em;
            }

            svg {
                display: block;
            }
        }
    }
}