.reviewSectionFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
    border-radius: 4px;
    background: var(--m1);
    ;

    &__inputContainer {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0.75rem;

        @media screen and (min-width: 37.5em) {
            width: auto;
            margin-bottom: 0;
        }


        input {
            flex: 0 1 100%;
            padding: .5em;
            font-size: inherit;
            border: 1px solid #e8e8e8;
            border-radius: 4px;


            @media screen and (min-width: 37.5em) {
                flex: 0 1 auto;
                min-width: 300px;
                margin-bottom: 0;
            }
        }

        .addBtn {
            padding: 0.6em;
            color: var(--light);
            cursor: pointer;
            background: none;
            border: 0;
            transition: all .3s;
            border-radius: 4px;
            margin-left: .75rem;
            margin-right: auto;

            &:focus,
            &:hover,
            &:active {
                color: var(--dark);
                background: #d5d5d55c;
            }

            svg {
                display: block;
            }
        }
    }



    &__buttonContainer {
        flex: 0 1 100%;
        text-align: center;

        @media screen and (min-width: 37.5em) {
            flex: 0 1 auto;
        }

        button {
            padding: 0.6em;
            color: var(--light);
            cursor: pointer;
            background: none;
            border: 0;
            transition: all .3s;
            border-radius: 4px;

            &.active,
            &:hover,
            &:focus,
            &:active {
                color: var(--dark);
                background: #d5d5d55c;
            }

            &:not(:last-child) {
                margin-right: 1em;
            }

            svg {
                display: block;
            }
        }
    }
}