.reviewFormSection {
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1em;
    transform: translateZ(0);
    background: var(--light);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        min-height: 37.5rem;
        text-align: right;

    }

    &__form {
        width: 100%;
        max-width: 37.5rem;
        box-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.25);

        &Content {
            padding: 1.25em;
            margin-bottom: 0;
            font-size: 1.25rem;

            div {
                position: relative;
                text-align: left;

                &:not(:global(.starContainer)) {
                    display: block;

                    label {
                        font-size: 1.5rem;
                    }

                    >input {
                        width: 100%;
                        padding: 0.5em;
                        font-size: 1rem;
                    }

                    textarea {
                        display: block;
                        width: 100%;
                        height: 4rem;
                        font-size: 1rem;
                        padding: 0.5em;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 2rem;
                    }
                }

                .error {
                    position: absolute;
                    bottom: -1.6rem;
                    left: 0;
                    color: red;
                    font-size: 0.875rem;
                }
            }
        }

        .submitBtn {
            padding: 0.6em;
            font-size: 1rem;
            color: var(--light);
            border: 0;
            background: var(--m1);
            ;
            cursor: pointer;
            transition: all .3s;

            &:hover,
            &:focus,
            &:active {
                color: var(--dark);
                background: var(--m2);

            }
        }

    }
}