html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  color: #2b2b2b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 2.5rem;
  color: #fbfbfb;
}

img {
  max-width: 100%;
}