.formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: var(--m1);
        text-decoration: none;
        transition: .3s all;
        text-align: left;

        &:focus,
        &:hover,
        &:active {
            background: var(--m1);
            color: var(--light);
            padding: 0.2em 0.4em;
        }
    }

    .submitBtn {
        padding: 0.6em;
        font-size: 1.25rem;
        color: var(--light);
        border: 0;
        background: var(--m1);
        cursor: pointer;
        transition: all .3s;

        &:hover,
        &:focus,
        &:active {
            color: var(--dark);
            background: var(--m2);
        }
    }
}